a:not(.wp-block-button__link) {
	color: $link-color;
  text-decoration: $link-decoration;

	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}

.cat-links{
	display: block;
}

.tags-links{
	display: block;
}
